.reputation-loader-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 20;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    gap: 0.6rem;
    color: rgba(100, 116, 139, 1);
    
}

.reputation-loader-container small {
    width: 10.6rem;
    text-align: center;
}

.reputation-loader {
    height: 3rem;
    width: 3rem;
    position: relative;
    border-width: 4px;
    border-radius: 9999px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255 / var(--tw-border-opacity));
    --tw-border-opacity: 1;
    border-top-color: rgba(100, 116, 139, 1);
}

.reputation-loader-spin {
    animation: modalSpin 1s linear infinite;
}

@keyframes modalSpin {
    to {
        transform: rotate(360deg);
    }
}