.gradient-button {
	padding: 8px 16px;
	border-radius: 100px;
	border: 1px solid #08f56b;
	font-size: 16px;
	cursor: pointer;
	line-height: 23px;
	color: white;
	background-image: linear-gradient(90deg, #33c570, #63cc8fc5);
}
.gradient-button:hover {
	background-image: linear-gradient(270deg, #33c570, #63cc8fc5);
}
.gradient-button:disabled {
	background-image: linear-gradient(
		90deg,
		rgba(160, 171, 187, 1),
		rgba(160, 171, 187, 1)
	);
	border: 1px solid gray;
	cursor: not-allowed;
}
