.blockpass-package-connected-modal p, .blockpass-package-connected-modal h4{
    margin: 0;
}
.blockpass-package-connected-wallet {
	border: 1px solid #9281ff6b;
	border-radius: 40px;
	padding: 1rem;
}
.blockpass-package-connected-wallet:hover {
	border: 1px solid #9281ff;
}

.blockpass-package-is-primary {
	color: rgb(83, 83, 83);
}
.blockpass-package-button-group {
	display: flex;
	justify-content: center;
	gap: 0.8rem;
}
.blockpass-package-empty-card {
	padding: 3rem 0;
	border: 1px solid rgb(230, 229, 229);
	border-radius: 8px;
}
.blockpass-package-empty-card h4 {
	color: rgba(100, 116, 139, 1);
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
}
