
.blockpass-package-macro-wallet-status,
.blockpass-package-macro-wallet-card-container {
	background: #D0D5DD;
	border-radius: 8px;
	border: 1px solid rgba(77, 154, 241, 0.096);
	margin-top: 15px;
	padding: 1rem;
}
.blockpass-package-macro-wallet-status .section {
	display: flex;
	align-items: center;
	background: #E7EAEE;
	padding: 1rem;
	border-radius: 8px;
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
}
.blockpass-package-default-logo {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	mix-blend-mode: multiply;
}
.blockpass-package-macro-wallet-status .section p {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding-left: 5px;
}
.blockpass-package-macro-wallet-status .section .blockpass-package-wallet-connect {
	text-decoration: underline;
	color: gray;
	cursor: pointer;
}

/*Macro Score*/


.blockpass-package-macro-wallet-card-container {
	padding: 1rem;
}
.blockpass-package-graph-info{
    border-top-left-radius: 40px;
}

.blockpass-package-macro-score-check {
	display: flex;
	flex-direction: column;
	gap: 15px;
	justify-content: center;
	align-items: center;
}

.blockpass-package-macro-wallet-card{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
}

.blockpass-package-graph-card {
	background: #E7EAEE;;
	
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	width:100%;
	margin: 0 auto;
	margin-top:10px;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
}
.blockpass-package-graph-card:hover {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.blockpass-package-graph-card p{
	font-size: 16px;
	line-height: 23px;
	color: rgba(100, 116, 139, 1);
	font-weight: 600;
	margin:0;
	margin-top: 5px;
}

.blockpass-package-gray-header{
	color: rgba(50, 58, 70, 1);
	margin: 0;
}

.blockpass-package-go-back-button {
	width: 170px;
	padding: 8px 16px;
	border: none;
	font-size: 16px;
	line-height: 23px;
	color: rgba(100, 116, 139, 1);
	font-weight: 600;
	background:transparent;
}