body {
	background-color: black;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
}
.package-blockpass {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.package-blockpass-button {
	text-align: center;
	min-width: 120px;
}
